.qwiki-content {
	margin-top: 50px;
}

.qwiki-container {
	padding-left: 15px;
	padding-right: 15px;
}

.search-bar {
	display: inline-block;
	min-width: 350px;
	width: 100%;
	margin-top: 35px;
	text-align: center;
}

.search-bar h1 {
	font-size: 60px;
	margin-bottom: 15px;
}